@import url(https://fonts.googleapis.com/css?family=Bevan);


body {
	background-color: #f2f2f2;
}

#strechted-back {
	background-image: url(../images/back.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 98%;	
	height: 70%;
	/*max-height: 20rem;*/
	/*background-color: #dbc3d0;*/
	box-shadow: 0rem .2rem .8rem .4rem #7e7e7e;
	z-index: -1;
	min-height: 1px;
	max-width: 100%;
	position: absolute;
	padding: 0;
	margin: 0;
	margin-right: 1%;
	margin-left: 1%;
	/*padding-left: auto;*/
	/*padding-right: auto;*/
}

#main-container {
	padding-left: 5%;
	padding-right: 5%;
}

#tag-line-div {
	margin-top: 7rem;
}

#tag-line {
	color: #fff;
	padding: 0;
	margin: 0;
	font-family: 'Bevan', cursive;
	font-size: 4.5rem;
	text-shadow: 0 0 .7rem #ea2e49;
}

#label {
	color: #ea2e49;
	font-size: 2.3rem;
	font-weight: bold;
	text-shadow: 0 0 .18rem #fff;
}

#form-div {
	margin: 0;
	margin-top: 4rem;
	background: transparent;
	padding-left: 4rem;
	padding-right: 4rem;
}

#input-div {
	box-shadow: 0 0 .2rem .1rem  #cc74d3;
}
/*#cc74d3*/

#inp {
	outline: none;
}

#inp:focus {
	outline: none;
}

#result-div {
	margin-top: 6rem;
	/*visibility: hidden;*/
	display: none;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

#tb1 {
	display: none;
}

#tb2 {
	display: none;
}

#tb3 {
	display: none;
}

#err-div {
	margin-top: 2rem;
	display: none;
}

h3 {
	color: #ffffff;
	font-weight: bold;
	font-size: 2rem;
	text-shadow: 0 0 .8rem blue;
	/*background-color: red;*/
}

#copy-btn {
	margin: 0;
	padding: .7rem;
	font-weight: bold;
	width: 25%;
	float: right;
	font-size: 1.1rem;
}


#result {
	padding: .7rem;
	font-size: 1.2rem;
	padding-top: .6rem;
	clear: both;
	line-height: 2.5rem;
}

.ui.raised.segment.result-div-segment {
	padding: .3rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.twelve.wide.orig {
	font-weight: bold;
	font-size: .8rem;
	vertical-align: top;
	/*height: 1.5rem;*/
	padding: .3rem;
	color: #7e7e7e;
}

.twelve.wide.short {
	/*height: 1.6rem;*/
	font-size: 1.2rem;
} 

.ui.teal.button {
	width: 80%;
	height: 100%;
}

table tr td.ui.right.aligned {  
	padding: 0rem;
	/*background-color: blue; 	*/
}
