<!doctype html>
<html>
    <head>
        <title>Comp</title>
       	<link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" src="text/css" href="{{ url_for('static', filename='semantic/semantic.min.css') }}">
        <link rel="stylesheet" src="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        
    </head>
    <body>
        <div id="strechted-back">&nbsp</div>

        <div class="ui fluid container" id="main-container">

        	<div class="ui center aligned grid">
        		<div class="row">
        		<div class="row" id="tag-line-div">
                <h1 class="ui center aligned header" id="tag-line">Shorten your cumbersome URL. Simple.</h1></div>

        		<div class="ui middle aligned seven wide column row raised segment field" id="form-div">

        			<div class="right aligned sixteen wide column"> <h2 class="ui header" id="label">Just Enter in your URL</h2> </div>
        			<div class="left aligned six wide column"> 
        				<div class="ui big fluid action input" id="input-div"> 
        					<input name="long-url" placeholder="To be shortened" id="inp">
        					<button class="ui blue button" type="submit" id="btn"> Comp it</button> 
        				</div>
        			</div>
        			<div class="one wide column"></div>

        			<div class="ui central aligned ten wide column error message" id="err-div"></div>

        		</div>
                </div>

        	   <div class="row">

    	        	<div class="ui middle aligned seven wide column" id="result-div" >
    	        		<div class="sixteen wide column"> <h3>The comped url</h3> </div> 
    	        		
                        <div class="fourteen wide column">

                            <div class="ui raised segment result-div-segment" id="tb1">
                                <table class="ui very basic table" >
                                    <tr>
                                        <td class="twelve wide orig">Original - <span class="orig"></span></td>
                                        <td rowspan="2" class="ui right aligned"><button class="ui teal button">Copy</button></td>
                                    </tr>
                                    <tr>
                                        <td class="twelve wide short"><span class="val"></span></td>
                                    </tr>
                                </table>
                            </div>
    	        		
                            <div class="ui raised segment result-div-segment" id="tb2">
                                <table class="ui very basic table">
                                    <tr>
                                        <td class="twelve wide orig">Original - <span class="orig"></span></td>
                                        <td rowspan="2" class="ui right aligned"><button class="ui teal button ">Copy</button></td>
                                    </tr>
                                    <tr>
                                        <td class="twelve wide short"><span class="val"></span></td>
                                    </tr>
                                </table>
                            </div>
                        
                            <div class="ui raised segment result-div-segment" id="tb3">
                                <table class="ui very basic table">
                                    <tr>
                                        <td class="twelve wide orig">Original - <span class="orig"></span></td>
                                        <td rowspan="2" class="ui right aligned"><button class="ui teal button">Copy</button></td>
                                    </tr>
                                    <tr>
                                        <td class="twelve wide short"><span class="val"></span></td>
                                    </tr>
                                </table>
                            </div>


                        </div>

                    </div>
                    
               </div>

        	</div>
        </div>
        
    </body>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="../semantic/semantic.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</html>
